################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

Audio-Endpoint-Switcher/Debug
Audio-Endpoint-Switcher/Release
Audio-Endpoint-Switcher/x64/
Debug
Release
.vs
*.tlog
*.obj
*.aps
*.cod
*.ipdb
*.iobj
*.pdb
*.log
*.7z
*.exe
Audio-Endpoint-Switcher/x64
x64
Audio-Endpoint-Switcher/Quick So.E8256141
unused
